<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shier Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <script src="shierproject.js"></script>
  <link rel="stylesheet" href="shierproject-style.css">

</head>
<body style='background-color: white; width: 100vw; overflow-x: hidden;'>

<nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">ShierProject</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Teknologi</a></li>
        <li><a href="#">Entertainment</a></li>
        <li><a href="#">Traveling</a></li>
        <li><a href="#">Hobi</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-instagram" style="font-size: 20px;"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook" style="font-size: 20px;"></i></a></li>
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<!--    MAIN    -->
<div style="height: 60vh;" class="row">
  <div class="col-md-6" style="background-image: url('https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/B328284533D1C776C141B676F54E8D626B19DC9327F399BB99F196A8DE0A2AF8/scale?aspectRatio=1.78&format=jpeg'); background-size: cover; width: 50vw; height: 100%; background-repeat: no-repeat; background-position: center; padding: 0 2px; display: inline-block;"></div>
  <div class="col-md-6" style="background-image: url('https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/B328284533D1C776C141B676F54E8D626B19DC9327F399BB99F196A8DE0A2AF8/scale?aspectRatio=1.78&format=jpeg'); background-size: cover; width: 50vw; height: 100%; background-repeat: no-repeat; background-position: center; padding: 0 2px; display: inline-block;"></div>
</div>
<br>
<!--    END MAIN    -->

<div class="container" >
  <div class="row">
    <div class="col-md-8">
      <div  class="col-md-12">
        <!--  TERBARU -->
        <h3><b>Terbaru</b></h3>
        <hr style="color: black;">
        <div class="row">

          <div class="col-md-6 terbaru-tile-parent" >
            <div class="terbaru-tile">
              <div class="terbaru-title-tile">
                <a href=""><b>Only when the button is clicked, the navigation bar will be displayed.</b></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 terbaru-tile-parent" >
            <div class="terbaru-tile">
              <div class="terbaru-title-tile">
                <a href=""><b>Only when the button is clicked, the navigation bar will be displayed.</b></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 terbaru-tile-parent" >
            <div class="terbaru-tile">
              <div class="terbaru-title-tile">
                <a href=""><b>Only when the button is clicked, the navigation bar will be displayed.</b></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 terbaru-tile-parent" >
            <div class="terbaru-tile">
              <div class="terbaru-title-tile">
                <a href=""><b>Only when the button is clicked, the navigation bar will be displayed.</b></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 terbaru-tile-parent" >
            <div class="terbaru-tile">
              <div class="terbaru-title-tile">
                <a href=""><b>Only when the button is clicked, the navigation bar will be displayed.</b></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 terbaru-tile-parent" >
            <div class="terbaru-tile">
              <div class="terbaru-title-tile">
                <a href=""><b>Only when the button is clicked, the navigation bar will be displayed.</b></a>
              </div>
            </div>
          </div>
        </div>
        <!--  TERBARU -->
      </div>
    </div>

    <!--  POPULER -->
    <div class="col-md-4">
      <div class="row">
        <!-- ANTARA NEWS -->
        <div class="col-md-12">
          <h3><a href="https://www.antaranews.com"><b>Antara News Terkini</b></a></h3>
          <hr style="color: black;">
          <div id="antara_news_id" style="height:60vh; width: 100%;">

          </div>
          <br>
        </div>
        <!-- ANTARA NEWS -->

        <!-- <div class="col-md-12">
          <h3><b>Republika Ekonomi</b></h3>
          <hr style="color: black;">
          <div id="republika_news_id" style="height:60vh; width: 100%; overflow-y: scroll; overflow-x:visible;">
            <div class="row">
              <div class="col-md-4">
                <img style="width: 100%;" src="https://cdn0-production-assets-kly.akamaized.net/medias/1217575/big/035195500_1461824817-ChGQVTVUUAEvYPy.jpg">
              </div>
              <div class="col-md-8">
                <p>Only when the button is clicked, the navigation bar will be displayed.</p>
              </div>
            </div>
            <br>
          </div>
        </div> -->

      </div>
    </div>
    <!--  POPULER -->
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <h3><b>Terpopuler</b></h3>
        <hr style="color: black;">
        <div class="row">
          <div class="col-md-3">
            <img style="width: 100%; border-radius: 10px;" src="https://cdn0-production-assets-kly.akamaized.net/medias/1217575/big/035195500_1461824817-ChGQVTVUUAEvYPy.jpg">
            <p>Only when the button is clicked, the navigation bar will be displayed.</p>
          </div>
          <div class="col-md-3">
            <img style="width: 100%; border-radius: 10px;" src="https://cdn0-production-assets-kly.akamaized.net/medias/1217575/big/035195500_1461824817-ChGQVTVUUAEvYPy.jpg">
            <p>Only when the button is clicked, the navigation bar will be displayed.</p>
          </div><div class="col-md-3">
            <img style="width: 100%; border-radius: 10px;" src="https://cdn0-production-assets-kly.akamaized.net/medias/1217575/big/035195500_1461824817-ChGQVTVUUAEvYPy.jpg">
            <p>Only when the button is clicked, the navigation bar will be displayed.</p>
          </div>
          <div class="col-md-3">
            <img style="width: 100%; border-radius: 10px;" src="https://cdn0-production-assets-kly.akamaized.net/medias/1217575/big/035195500_1461824817-ChGQVTVUUAEvYPy.jpg">
            <p>Only when the button is clicked, the navigation bar will be displayed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--    Koleksi   -->
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <h3><b>Koleksi</b></h3>
        <hr style="color: black;">
        <a href="" target="_blank">
          <div class="row">
            <div class="col-md-4">
              <img style="width: 100%; border-radius: 5px;" src="https://cdn0-production-assets-kly.akamaized.net/medias/1217575/big/035195500_1461824817-ChGQVTVUUAEvYPy.jpg">
            </div>
            <div class="col-md-8">
              <h4>Only when the button is clicked, the navigation bar will be displayed.</h4>
            </div>
          </div>
        </a><br>
        <a href="" target="_blank">
          <div class="row">
            <div class="col-md-4">
              <img style="width: 100%; border-radius: 5px;" src="https://cdn0-production-assets-kly.akamaized.net/medias/1217575/big/035195500_1461824817-ChGQVTVUUAEvYPy.jpg">
            </div>
            <div class="col-md-8">
              <h4>Only when the button is clicked, the navigation bar will be displayed.</h4>
            </div>
          </div>
        </a><br>
        <a href="" target="_blank">
          <div class="row">
            <div class="col-md-4">
              <img style="width: 100%; border-radius: 5px;" src="https://cdn0-production-assets-kly.akamaized.net/medias/1217575/big/035195500_1461824817-ChGQVTVUUAEvYPy.jpg">
            </div>
            <div class="col-md-8">
              <h4>Only when the button is clicked, the navigation bar will be displayed.</h4>
            </div>
          </div>
        </a><br>
        <a href="" target="_blank">
          <div class="row">
            <div class="col-md-4">
              <img style="width: 100%; border-radius: 5px;" src="https://cdn0-production-assets-kly.akamaized.net/medias/1217575/big/035195500_1461824817-ChGQVTVUUAEvYPy.jpg">
            </div>
            <div class="col-md-8">
              <h4>Only when the button is clicked, the navigation bar will be displayed.</h4>
            </div>
          </div>
        </a><br>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

  <!--    Koleksi   -->
  
  
</div>

</body>
</html>
