.terbaru-tile{
    height: 36vh; 
    background-position: center; border-radius: 10px; background-size: cover; padding: 2%; margin: 2% 0;
}

.terbaru-tile-parent{
    display: inline-block;
}

.latest-1{
    height: 60vh; overflow: hidden; background-size: cover; background-position: center;
}

.latest-1 > div{
    width: 100%; height: 100%; background-color: rgba(0,0,0,0.6)
}

.terbaru-title-tile{
    color: white; position: absolute; bottom: 2%; padding: 2%; font-size: 120%;
}
